.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-striped th,td{
  width: 15%;
  text-align: center;
}

form {
  margin-left: 400px;
  margin-right: 400px;
}

form .btn-primary {
  margin-left: 100px;
}

button {
  margin: 10px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold
}

#search {
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 10px;
  width: 250px;
  height: 35px;
}

#div-search {
  float: right;
}

img {
  width: 100px;
  height: 100px;
}

.form {
  margin-left: 100px;
  width: 85%;
}

#btn_1 {
  margin-top: 10px;
}
